
@{
    ViewBag.Title = "HomePage";
}

<section class="header">
    <div class="container p-0">
        <nav class="navbar navbar-expand-md py-3">
            <nav class="navbar navbar-light bg-lignt mobil-navbar">
                <a href="/" class="navbar-brand">Menü</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                    <span class="my-toggler">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </button>
                <button type="button" class="btn btn-secondary rounded-0 px-3"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i> Your Cart</button>
                <div class="navbar-collapse collapse" id="collapsingNavbar3">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto mr-0">
                        <li class="nav-item">
                            <a class="nav-link border-right py-0 px-4" aria-current="page" href="#" title="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-right py-0 px-4" href="#" title="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-right py-0 px-4" href="#" title="Shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 px-4" href="#" title="Help">Help</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-secondary rounded-0 px-3"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i> Your Cart</button>
                </div>
            </div>
        </nav>
    </div>
</section>

<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 border px-0">
                <div class="carousel-wrapper">
                    <div id="productDetailsCarousel" class="slider owl-carousel">
                        <div class="item">
                            <a class="fancybox" href="~/Images/gorsel-1.jpg" rel="group" data-lightbox="roadtrip">
                                <div class="image" style="background-image:url('/Images/gorsel-1.jpg');">
                                    <img src="~/Images/gorsel-1.jpg" alt="oyuncu-monutorleri" />
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a class="fancybox" href="~/Images/gorsel-2.jpg" rel="group" data-lightbox="roadtrip">
                                <div class="image" style="background-image:url('/Images/gorsel-2.jpg');">
                                    <img src="~/Images/gorsel-2.jpg" alt="oyuncu-monutorleri" />
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a class="fancybox" href="~/Images/gorsel-3.jpg" rel="group" data-lightbox="roadtrip">
                                <div class="image" style="background-image:url('/Images/gorsel-3.jpg');">
                                    <img src="~/Images/gorsel-3.jpg" alt="oyuncu-monutorleri" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="productThumbnailsCarousel" class="navigation-thumbs owl-carousel">
                        <div class="item">
                            <div class="image" style="background-image:url('/Images/gorsel-1.jpg');">
                                <img src="~/Images/gorsel-1.jpg" alt="oyuncu-monutorleri" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image" style="background-image:url('/Images/gorsel-2.jpg');">
                                <img src="~/Images/gorsel-2.jpg" alt="oyuncu-monutorleri" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="image" style="background-image:url('/Images/gorsel-3.jpg');">
                                <img src="~/Images/gorsel-3.jpg" alt="toyuncu-monutorleri" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 border">
                <div class="productDetail p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="productTitle">
                                <h1>Product Title</h1>
                            </div>
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star passive" aria-hidden="true"></i>
                                <i class="fa fa-star passive" aria-hidden="true"></i>
                                <span class="ratingText ml-3"><a class="text-dark" href="#readReviews"> 5 Reviews</a></span>
                            </div>
                            <hr class="my-4" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-xl-4 col-lg-4">
                                    <span class="priceText"><i class="fa fa-usd mr-1" aria-hidden="true"></i>1232</span>
                                </div>
                                <div class="col-sm-12 col-md-9 col-xl-8 col-lg-8">
                                    <span class="selectBox">
                                        <select id="select-box1" class="select">
                                            <option value="Choice 1" disabled selected hid-den>Select Model</option>
                                            <option value="Choice 2">Model Product 1</option>
                                            <option value="Choice 3">Model Product 2</option>
                                            <option value="Choice 4">Model Product 3</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <hr class="my-4" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="productDescription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                            <hr class="shortLine mr-auto ml-0 my-4" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary rounded-0 px-4 mt-2">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="similarProduct">
    <div class="container px-5 py-4 border-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Similar Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 py-4">
                <div class="carousel-wrapper">
                    <div id="productSimilar" class="owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" style="background-image:url('/Images/gorsel-1.jpg');">
                                        <img src="~/Images/gorsel-1.jpg" alt="oyuncu-monutorleri" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="#" class="text-decoration-none" title="Product Name"><h4>Product Name</h4></a>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                    </div>
                                    <div class="priceText mt-1"><i class="fa fa-usd" aria-hidden="true"></i>1232</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" style="background-image:url('/Images/gorsel-2.jpg');">
                                        <img src="~/Images/gorsel-2.jpg" alt="oyuncu-monutorleri" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="#" class="text-decoration-none" title="Product Name"><h4>Product Name</h4></a>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                    </div>
                                    <div class="priceText mt-1"><i class="fa fa-usd" aria-hidden="true"></i>1232</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" style="background-image:url('/Images/gorsel-3.jpg');">
                                        <img src="~/Images/gorsel-3.jpg" alt="oyuncu-monutorleri" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="#" class="text-decoration-none" title="Product Name"><h4>Product Name</h4></a>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                    </div>
                                    <div class="priceText mt-1"><i class="fa fa-usd" aria-hidden="true"></i>1232</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" style="background-image:url('/Images/gorsel-4.jpg');">
                                        <img src="~/Images/gorsel-4.jpg" alt="oyuncu-monutorleri" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="#" class="text-decoration-none" title="Product Name"><h4>Product Name</h4></a>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                    </div>
                                    <div class="priceText mt-1"><i class="fa fa-usd" aria-hidden="true"></i>1232</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="image" style="background-image:url('/Images/gorsel-5.jpg');">
                                        <img src="~/Images/gorsel-5.jpg" alt="oyuncu-monutorleri" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="#" class="text-decoration-none" title="Product Name"><h4>Product Name</h4></a>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                        <i class="fa fa-star passive" aria-hidden="true"></i>
                                    </div>
                                    <div class="priceText mt-1"><i class="fa fa-usd" aria-hidden="true"></i>1232</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="container px-5 py-4">
        <div class="row">
            <div class="col-md-12">
                <h3 id="readReviews" class="text-left">Reviews</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-5 col-md-5 col-xl-3 col-lg-3">
                <div class="userReview">
                    <div class="row">
                        <div class="col-md-4 my-auto">
                            <div class="userProfilePicture">
                                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-md-8 text-sm-center">
                            <div class="userProfileDetails">
                                <h4 class="mb-0">John Doe</h4>
                                <div class="date">
                                    <span>August 14, 2018</span>
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="shortLine mr-auto ml-0 mt-5">
            </div>
            <div class="col-sm-7 col-md-7 col-xl-9 col-lg-9">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-5 col-md-5 col-xl-3 col-lg-3">
                <div class="userReview">
                    <div class="row">
                        <div class="col-md-4 my-auto">
                            <div class="userProfilePicture">
                                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="userProfileDetails">
                                <h4 class="mb-0">John Doe</h4>
                                <div class="date">
                                    <span>August 14, 2018</span>
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="shortLine mr-auto ml-0 mt-5">
            </div>
            <div class="col-sm-7 col-md-7 col-xl-9 col-lg-9">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-5 col-md-5 col-xl-3 col-lg-3">
                <div class="userReview">
                    <div class="row">
                        <div class="col-md-4 my-auto">
                            <div class="userProfilePicture">
                                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="userProfileDetails">
                                <h4 class="mb-0">John Doe</h4>
                                <div class="date">
                                    <span>August 14, 2018</span>
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="shortLine mr-auto ml-0 mt-5">
            </div>
            <div class="col-sm-7 col-md-7 col-xl-9 col-lg-9">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-5 col-md-5 col-xl-3 col-lg-3">
                <div class="userReview">
                    <div class="row">
                        <div class="col-md-4 my-auto">
                            <div class="userProfilePicture">
                                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="userProfileDetails">
                                <h4 class="mb-0">John Doe</h4>
                                <div class="date">
                                    <span>August 14, 2018</span>
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="shortLine mr-auto ml-0 mt-5">
            </div>
            <div class="col-sm-7 col-md-7 col-xl-9 col-lg-9">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-5 col-md-5 col-xl-3 col-lg-3">
                <div class="userReview">
                    <div class="row">
                        <div class="col-md-4 my-auto">
                            <div class="userProfilePicture">
                                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="userProfileDetails">
                                <h4 class="mb-0">John Doe</h4>
                                <div class="date">
                                    <span>August 14, 2018</span>
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                    <i class="fa fa-star passive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="shortLine mr-auto ml-0 mt-5">
            </div>
            <div class="col-sm-7 col-md-7 col-xl-9 col-lg-9">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</section>

